<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    <p style="font-size:25px;"><u><strong>Register</u></strong</p>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in register%}
        <p>
            {{field.label}}
            {{field}}
        </p>
        {%endfor%}
        <button type="submit">REGISTER</button>
    </form>
</body>
</html>